<!-- SIDEBAR -->
<section id="sidebar">
	<a href="./home" class="brand"><i class='bx bxs-buildings icon'></i> Anthon Dev</a>
	<ul class="side-menu">
		<li><a href="./home" class="active"><i class='bx bxs-dashboard icon' ></i> Panel de Control</a></li>
		<li class="divider" data-text="main">Main</li>
		<li>
			<a href="#"><i class='bx bxs-inbox icon' ></i> Registros <i class='bx bx-chevron-right icon-right' ></i></a>
			<ul class="side-dropdown">
				<li><a href="./visita">Visita</a></li>
				<li><a href="./propietario">Propietario</a></li>
				<li><a href="#">Ocupante</a></li>
			</ul>
		</li>
		<li><a href="#"><i class='bx bxs-chart icon' ></i> Edificios <i class='bx bx-chevron-right icon-right' ></i></a>
			<ul class="side-dropdown">
				<li><a href="./torre">Torre</a></li>
				<li><a href="./departamento">Departamento</a></li>
			</ul>
		</li>
		<li><a href="./departamentos"><i class='bx bxs-widget icon' ></i> Departamentos</a></li>
		<li class="divider" data-text="table and forms">Table and forms</li>
		<li><a href="./residentes"><i class='bx bx-table icon' ></i> Residentes</a></li>
		<li>
			<a href="#"><i class='bx bxs-notepad icon' ></i> Ocupantes <i class='bx bx-chevron-right icon-right' ></i></a>
			<ul class="side-dropdown">
				<li><a href="#">Basic</a></li>
				<li><a href="#">Select</a></li>
				<li><a href="#">Checkbox</a></li>
				<li><a href="#">Radio</a></li>
			</ul>
		</li>
	</ul>
</section>
<!-- SIDEBAR -->
