@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", Arial, sans-serif;
} 
a {
  text-decoration: none;
}

.s {
  padding-top: 50px;
  text-align: center;
}
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: #343A40;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}

.bi-building{
  color: white; 
  font-size: 35px; 
  margin-right: 5px;
}

.navbar-brand {
  position: relative;
  font-style: normal;
  bottom: 7px;
  color: white; 
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap; 
}

.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none; 
}

nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}

nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}

ol, ul {
  padding-left: 0rem;
}

.logout-btn{
  color: white;
  width: 10px;
}

nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}

@media (min-width: 1348px) {
  nav {
    display: flex;
  }
  .navbar-brand {
    flex: 1; /* Hace que ocupe todo el espacio disponible */
  }
  nav ul {
    display: flex; /* Utiliza flexbox para alinear las opciones */
    align-items: center; /* Alinea verticalmente las opciones con el ícono */
  }
  .nav-item {
    margin-left: auto; /* Mueve la opción "Cerrar Sesión" a la derecha */
  }
}

@media (min-width: 1347px) {
  nav {
    display: flex;
  }
  .navbar-brand {
    flex: 1; /* Hace que ocupe todo el espacio disponible */
  }
  nav ul {
    display: flex; /* Utiliza flexbox para alinear las opciones */
    align-items: center; /* Alinea verticalmente las opciones con el ícono */
  }
  .nav-item {
    margin-left: auto; /* Mueve la opción "Cerrar Sesión" a la derecha */
  }
}


@media (max-width: 1088px) {
  nav .menu-btn i{
    display: block;
  }
  .navbar-brand span {
    visibility: hidden; /* Oculta el texto "Gestion Departamentos" */
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  .menu-btn {
    display: block; /* Muestra el botón de menú */
  }
  nav ul{
    position: absolute;
    top: 80px;
    left: -100%;
    background: #343A40;
    height: 100%;
    width: 100%;
    flex-direction: column;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
    z-index: 1000;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 10px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
  .navbar-brand {
    position: relative;
    color: white;
    text-decoration: none; 
  }
}
