<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Asistencia - Reconocimiento Facial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../statics/fontawesome/all.min.css">
    <script src="../statics/js/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/> -->
    <link rel="stylesheet" href="../statics/css/style.css" />
    <title>Ingreso</title>
</head>

<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form class="sign-in-form">
                    <div id="loginSection">
                        <button id="btnIngresar" type="button" class="btn solid" onclick="ingresar()">
                            Ingresar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="faceSection" class="modal-faceid">
        <div class="faceid-circle-wrap">
            <div class="faceid-video-mask">
                <video id="video" autoplay playsinline muted></video>
            </div>
            <div class="faceid-ring" id="faceid-ring"></div>
            <div class="faceid-check" id="faceid-check">✓</div>
        </div>
        <div id="status" class="faceid-status">
            👀 Esperando detección de rostro...
        </div>
        <button type="button" class="btn-faceid-cancelar" onclick="cerrarReconocimiento()">
            Cancelar
        </button>
    </div>

    <div class="panels-container">
        <div class="panel left-panel">
            <div class="content">
                <h3>Aplicativo</h3>
                <p>
                    Aplicativo de control de acceso Anthon
                </p>
            </div>
            <img src="../statics/img/log.svg" class="image" alt="" />
        </div>
    </div>

    <script src="../statics/js/login_movil.js"></script>

</body>

</html>